{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ai_support.css' %}">

    <title>AI 자동완성 글</title>
</head>
<body>
    <button id="btn_textarea_copy">textarea 전체 복사하기/초기화</button><br>
    <textarea   
    id="content"
    name="content"
    >
    </textarea>
</body>
</html>
<script>
          //기존 내용에 자동완성 된 내용 더함
    var data = localStorage.getItem("inputData"); 


    document.getElementById("content").value= data;


    //복사하기
        document.getElementById("btn_textarea_copy").onclick = function(){
        const textArea = document.getElementById("content");
        textArea.select();
        document.execCommand('copy');
        alert('클립보드에 저장되었습니다')
        localStorage.setItem("inputData", "");
        document.getElementById("content").value= "";

    }


</script>