{% load custom_filter%}
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>번호</B></td>
                <td><B>제목</B></td>
                <td><B>작성자</B></td>
                <td><B>작성일</B></td>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.id}}번</td>
                <td>{{post.title}}</td>
                <td>{{post.author_id}}</td>
                <td>{{post.created_at}}</td>
            <div>              {% if post.content|get_img_src %}
                <img src="{{ post.content|get_img_src }}" alt="Thumbnail image" />
                {% else %}
                <div
                  style="width: 100%; height: 100%; background-color: transparent"
                ></div>
                {% endif %}</div>
            </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
</body>