{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}"/>

  <script src="https://cdn.tiny.cloud/1/cig4n9ujjp5wqsgk6jqk8pcfi03mazpxf0hb3h3tz9129744/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  <!-- 경로지정 -->

  
  <!-- 타이틀은 수정과 작성에 따른 변경 -->
  <title>{% if edit_mode %}포스트 수정{% else %}포스트 작성{% endif %}</title>
</head>
<body>
  {% include 'nav_bar_light.html' %}
  <!-- 글 작성 부분 -->
  <section>
    <div class="container">
        <!-- 글작성부분 + Ai 글 자동완성, TOPIC, UPLOAD INFO, 버튼(임시저장, 글 작성) 구분짓는 div -->
        <div class="big-box">
          <form method="POST" action="" enctype="multipart/form-data">
            <div class="write-box">
                {{form.media}} <!-- ckeditor에 적용된 css 불어오기 -->
                {% csrf_token %}
                {{form.as_p}} 
            </div>

            <aside class="post-info-box">
                <button type="button" id="aiAutocompleteButton" class="ai-button">
                    <!-- 로봇아이콘 -->
                    <img id="ai-img" src="{% static 'img/ai.svg' %}" alt="AI 아이콘" />
                    Ai 글 자동완성
                </button>

                <div class="box">
                    <h2>TOPIC</h2>
                    <div>
                      <input type="radio" id="all" name="topic" value="전체" {% if topic == '전체' %}checked{% endif %}/>
                      <label for="all">전체</label>
                    </div>
                    <div>
                        <input type="radio" id="daily" name="topic" value="일상" {% if topic == '일상' %}checked{% endif %}/>
                        <label for="daily">일상</label>
                    </div>
                    <div>
                      <input type="radio" id="cooking" name="topic" value="요리" {% if topic == '요리' %}checked{% endif %}/>
                      <label for="cooking">요리</label>
                    </div>
                    <div>
                      <input type="radio" id="travel" name="topic" value="여행" {% if topic == '여행' %}checked{% endif %}/>
                      <label for="travel">여행</label>
                    </div>
                    <div>
                      <input type="radio" id="movie" name="topic" value="영화" {% if topic == '영화' %}checked{% endif %}/>
                      <label for="movie">영화</label>
                    </div>
                    <div>
                      <input type="radio" id="it" name="topic" value="IT" {% if topic == 'IT' %}checked{% endif %}/>
                      <label for="it">IT / 전자기기</label>
                    </div>
                </div>

                <div class="box">
                    <div class="info">
                        <h2>UPLOAD INFO</h2>
                        <p>공개여부: {% if edit_mode %}전체공개{% else %}미공개{% endif %}</p>
                        <label class="input-file-button" for="imageUpload" 
                        style="    width:auto;padding: 6px 25px;
                        background-color:#1887c7;
                        border-radius: 4px;
                        color: white;
                        cursor: pointer;">
                          이미지 업로드
                        </label>
                        <input type="file" name="file" id="imageUpload" style="display:none;" onclick="imageIntoContent()">

                     </div>

                    <div class="save-box">
                        <input type="submit" name="temp-save-button" class="temp-save-button" value="임시저장"/>
                        <input type="submit" name="save-button" class="save-button" value="글 작성"/>
                    </div>
                </div>
            </aside>
          </form>
        </div>
    </div>
  </section>
  <footer>
  <a href="#"> <!-- 우선 링크X -->
    <div class="footer">
      <div class="container" style="place-content: flex-end;">
        <p>Made with <span>Django<span></p>
      </div>
    </div>
  </a>
  </footer>
</body>
<!-- <script src="{% static 'js/write.js' %}"></script> -->
<script>
  document.getElementById('imageUpload').addEventListener('change', function() {
      let formData = new FormData();
  
      formData.append('file', this.files[0]);
      console.log(formData)

      fetch('{% url "blog_app:image_upload" %}', {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
      .then(response => response.json())
      .then(data => {
        console.log(data.location);
        imageIntoContent(data.location);
      })
      .catch(error => console.error('Error:', error));
    });


    function imageIntoContent(iamge_url){
      // let formData = new FormData();
      // formData.append('file', this.files[0]);
      var imageFile = CKEDITOR.instances.id_content;
      var value =  "<img src='"+ iamge_url +"'/>";

      // Check the active editing mode.
      if ( imageFile.mode == 'wysiwyg' )
      {
        // Insert the desired HTML.
        imageFile.insertHtml( value );
      }
      else
        alert( '업로드경고' );
    }
  </script>