*{
    font-family: 'Pretendard', sans-serif;
}
  
header{
    width: 1440px;
    height: 105px;
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-around;
}

.NAV_Upper {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    color: #000000;
}

.Container_Write{
    display: flex;
    justify-content: center;
}

#Title{
    display: flex;
    width: 1000px;
    padding: 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #FFF;
    background: #FFF;
}

.AI_Auto_Writing{
    display: flex;
    width: 300px;
    height: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1px;
    border: 1px solid #ffffff;
}

.TOPIC{
    display: flex;
    width: 300px;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 1px;
    border: 1px solid #ffffff;
}

.Upload_Info{
    display: flex;
    width: 300px;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    
    border-radius: 1px;
    border: 1px solid #ffffff;
}

.Upload_Button{
    display: flex;
}

#Temp_Save {
    padding: 5px 10px;
    border: none;
    border: 1px solid #000000;
    color: #000000;
    width: 100%;
}

#Submit{
    padding: 5px 10px;
    border: none;
    background-color: #000000;
    color: #fff;
    width: 100%;
}