<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스트</title>
</head>
<body>
    <div class="postList">

        <section class ="postArea">
            <div class="container">
                <div class="postInfo">
                    <p>0000-00-00</p>
                    <h3>Lorem ipsum, dolor</h3>
                    <p>by userid</p>

                    <p> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id a placeat in sequi libero nesciunt dignissimos, architecto rem molestias sint magni neque error minus mollitia tempora eum, dolor doloribus soluta?
                    </p>

                    <div class="thumbnail">
                        <img>
                    </div>
                    
                </div>

            </div>
        </section>
    </div>
</body>
</html>