<!--CSS (\blog\static\write.css) 테스트 용 파일 / by.강 -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRITE</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/write.css'%}?{%now "U" %}"/>

</head>
<body>
    <header>
        <nav>
            <div class="NAV_Upper">
                <span title="일상">일상</span>
                <span title="요리">요리</span>
                <span title="여행">여행</span>
                <span title="영화">영화</span>
                <span title="IT">IT</span>

                <button>Login</button>

                <button>Just Write!</button>
            </div>
        </nav>
    </header>

    <div class="Container_Write">
        <form method="POST">

            <div>
                <input id="Title" placeholder="제목">
 
            </div>
        </form>
        
        <div class="NAV_Right">
            <div class="AI_Auto_Writing">
                <div>
                    <button>AI 글 자동완성</button>
                </div>
            </div>

            <div class ="TOPIC">
                <div>TOPIC</div>
                <div>
                    <form>
                        <label>
                            <input type="radio">일상
                        </label>
                        <br>
                        <label>
                            <input type="radio">요리
                        </label>
                        <br>
                        <label>
                            <input type="radio">여행
                        </label>
                        <br>
                        <label>
                            <input type="radio">영화
                        </label>
                        <br>
                        <label>
                            <input type="radio">IT/전자기기
                        </label>
                        </form>
                </div>
            </div>

            <div class="Upload_Info">
                <div>UPLOAD INFO</div>
                <div>상태: 미게시</div>
                <button>이미지 업로드</button>
                <div class="Upload_Button">
                    <input type="submit" id="Temp_Save" value="임시저장">
                    <input type="submit" id="Submit" value="글 작성">
                </div>
            </div>
        </div>
    </div>
</body>
</html>