<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성</title>
</head>
<body>
    <section class ="main">
        <form method="POST">
            <div>
                <div>
                    <button>AI 글 자동완성</button>
                </div>

                <div>
                    <div>
                        TOPIC
                    </div>
                    <ul>
                        <li><a href="">일상</a></li>
                        <li><a href="">요리</a></li>
                        <li><a href="">여행</a></li>
                        <li><a href="">영화</a></li>
                        <li><a href="">IT/전자기기</a></li>
                    </ul>
                </div>

                <div class="write">

                </div>
            </div>
        </form>
    </section>
</body>
</html>